<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Flask</title>
</head>
<body>
    
    <nav>
        <ul>
            <!-- double curly brackets contains an expression, which outputs something onto our screen or -->
            <!-- in our case, inserting code into the href -->
            <li><a href="{{ url_for('index') }}">Home</a></li> <!--Jinja templating-->
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('careers') }}">Careers</a></li>
        </ul>
    </nav>

    <!-- curly brackets & %'s are for statements that control the flow of our template, such as a for-loop,-->
    <!-- if-statement or this block element itself -->
    <!-- Defining a block or area of content, that we can inject content within from other pages -->
    {% block content %}
    {% endblock %}

</body>
</html>